<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="XmCloudSXAStarter.Pipelines.InitializeMvcRoutes, XmCloudSXAStarter" 
                   patch:after="processor[@type='Sitecore.Mvc.Pipelines.Initialize.InitializeRoutes, Sitecore.Mvc']" />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>